.explore {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: $color-bg-dark;
}

.explore__title {
  margin-bottom: 75px;
}

.explore__container {
  display: flex;
  gap: 60px;
}

.explore__text {
  margin-bottom: 25px;
}

.explore__wrapper {
  width: 660px;
}

.explore__img {
  margin-top: 15px;
  display: block;
  width: 720px;
  height: 700px;
  background-color: antiquewhite;
}

.explore__color {
  color: $color-text-accent;
}
