.footer {
  padding-top: 84px;
  padding-bottom: 50px;
  background-color: $color-bg-dark;
  padding-bottom: 500px;

  @include media-desktop {
    padding-top: 60px;
  }

  @include media-tablet {
    padding-top: 40px;
    // padding-bottom: 67px;
  }
}

.footer__wrapper {
  display: flex;
  align-items: flex-start;
  border-bottom: 3px solid $color-icon-line;
  padding-bottom: 47px;

  .logo {
    @include media-mobile {
      gap: 20px;
    }
  }

  @include media-desktop {
    padding-bottom: 49px;
  }

  @include media-tablet {
    padding-bottom: 40px;
  }

  @include media-mobile {
    flex-direction: column;
    gap: 42px;
  }
}

.footer__wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-left: 141px;
  flex-grow: 1;

  @include media-desktop {
    margin-left: 40px;
  }

  @include media-tablet {
    flex-direction: column;
    margin-left: 0;
  }

  @include media-mobile {
    // justify-content: space-between;
    // align-items: start;
    // flex-grow: 1;
    gap: 40px;
    width: 100%;

    .nav {
      width: 100%;
      // background-color: antiquewhite;
    }
  }
}

.footer__nav {
  @include list-reset;
  margin-top: 6px;

  display: flex;
  flex-direction: column;
  gap: 29px 150px;
  flex-wrap: wrap;

  // justify-content: flex-start;
  align-items: flex-start;

  height: 128px;
  width: 363px;
  max-width: 680px;

  .nav__item {
    flex-grow: 0;
    width: 107px;

    @include media-mobile {
      width: fit-content;
    }
  }

  @include media-desktop {
    // margin-left: 40px;
    gap: 30px 52px;
  }

  @include media-tablet {
    margin-top: 19px;
    gap: 28px 80px;
    width: 429px;
    max-width: 430px;
  }

  @include media-mobile {
    margin-top: 0;
    gap: 30px 85px;
    width: 100%;
    max-width: 100%;
    height: 68px;
  }
}

.footer__copyright {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;

  @include media-tablet {
    padding-top: 40px;
  }
}

.footer__copyright:last-child {
  margin-right: 19px;
}

.footer__social {
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 8px;
  gap: 25px;

  @include media-desktop {
    margin-bottom: 0;
  }

  @include media-tablet {
    margin: 32px auto 0 100px;
  }

  @include media-mobile {
    margin: 0 auto;
    gap: 5px;
  }
}
