.form__wrapper {
  display: flex;
  gap: 240px;
  justify-content: space-between;
  align-items: flex-start;

  margin-top: 2px;
}

.form__checkmark {
  box-sizing: border-box;
  // display: block;
  width: 17px;
  height: 17px;
  border: 2px solid $color-black;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    display: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $color-black;
  }
}

.form__label:hover input:not(:disabled) ~ .form__checkmark {
  background-color: $color-point;
}

.form__input:not(:disabled):checked ~ .form__checkmark:after {
  display: block;
}

.form__input:disabled ~ .form__checkmark {
  background-color: $color-disabled;
  border-color: $color-icon-line;
}

.form__wrapper-amount {
  flex-shrink: 0;
  flex-grow: 0;
  width: 150px;

  @include media-desktop {
    width: 175px;
  }

  @include media-mobile {
    margin: 0 auto;
  }
}

.form__wrapper-type {
  width: 270px;
  flex-shrink: 0;
  flex-grow: 0;

  @include media-desktop {
    display: none;
  }
}

.form__wrapper-type .form__title {
  margin-bottom: 48px;
}

.form__wrapper-amount .form__title {
  text-align: end;
  margin-bottom: 23px;

  @include media-desktop {
    text-align: left;
    margin-bottom: 26px;
  }

  @include media-tablet {
    margin-bottom: 36px;
  }

  @include media-mobile {
    text-align: center;
    margin-bottom: 12px;
  }
}

.form__label {
  display: flex;
  margin-bottom: 12px;
  gap: 23px;
  align-items: center;
  letter-spacing: 1.25px;
}

.form__text {
  @include font($size: 22px, $line-height: 38.5px, $spacing: 1.1px);
  margin-bottom: 8px;

  @include media-desktop {
    line-height: 36.5px;

    font-size: 22px;
    letter-spacing: 1.3px;
    margin-bottom: 4px;
  }

  @include media-tablet {
    letter-spacing: 1.5px;
  }

  @include media-mobile {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 6px;
  }
}

.form__wrapper-counter {
  padding: 4px 14px;
  border: 3px solid $color-black;
  margin-bottom: 3px;

  display: flex;
  align-items: center;
  gap: 23px;

  @include media-desktop {
    margin-bottom: 24px;
    gap: 41px;
  }

  @include media-tablet {
    margin-bottom: 22px;
  }

  @include media-mobile {
    margin-bottom: 11px;
  }
}

.form_count-btn {
  @include btn-reset;
  font-family: $font-base;
  font-size: 32px;
  text-align: 100%;
  color: $color-dark;
  font-weight: 400;

  &:hover,
  &:focus,
  &:active {
    color: $color-accent;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

.form__number {
  @include font($size: 22px);

  width: 20px;
  flex-grow: 0;
  border: none;
  text-align: center;
}

.form__price {
  margin-top: 52px;
  text-align: end;
  letter-spacing: 2.1px;

  @include media-desktop {
    text-align: left;
    margin-top: 27px;
    letter-spacing: 4px;
  }

  @include media-tablet {
    margin-top: 40px;
  }

  @include media-mobile {
    margin-top: 42px;
    text-align: center;
    letter-spacing: 1px;
  }
}

.form__btn {
  @include font($size: 22px, $line-height: 38.5px, $spacing: 1.1px);

  @include btn-reset;
  display: block;
  color: $color-white;
  background-color: $color-black;
  padding: 6px 38px;
  width: 175px;
  margin-top: 62px;
  margin-left: auto;
  letter-spacing: 3.35px;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-accent;
    color: $color-black;
  }

  @include media-desktop {
    margin-top: 72px;
    letter-spacing: 3.3px;
  }

  @include media-tablet {
    margin-top: 40px;
  }
  @include media-mobile {
    margin-right: auto;
    font-size: 16px;
  }
}
