.gallery {
  padding-top: 75px;
  background-color: $color-bg-dark;

  @include media-desktop {
    padding-top: 60px;
  }
}

.gallery__title {
  margin-bottom: 75px;

  @include media-desktop {
      margin-bottom: 60px;
  }
}
.gallery__slider {
  height: 1960px;
  position: relative;
  overflow-y: hidden;

  // background-color: aquamarine;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1440px;
    height: 360px;
    background: linear-gradient(transparent, black);
  }

    @include media-desktop {
      height: 1265px;
    }
}

.gallery__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: center;
  gap: 24px 36px;
  height: 2718px;
}

.gallery__img {
  display: block;
  width: 456px;
  height: auto;

  object-fit: contain;

   &--13 {
      height: 355px;
  }

  &--15 {
      height: 700px;
  }
}

.gallery__item {
  width: 456px;
}
