.gallery {
  padding-top: 75px;
  background-color: $color-bg-dark;

  @include media-desktop {
    padding-top: 60px;
  }
  @include media-tablet {
    padding-top: 40px;
  }
}

.gallery__title {
  margin-bottom: 75px;

  @include media-desktop {
    margin-bottom: 60px;
  }

  @include media-tablet {
    margin-bottom: 40px;
  }
}
.gallery__slider {
  height: 1960px;
  position: relative;
  overflow-y: hidden;

  // background-color: aquamarine;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1440px;
    height: 360px;
    background: linear-gradient(transparent, black);
  }

  @include media-desktop {
    height: 1265px;
  }

  @include media-tablet {
    height: 1080px;
  }

  @include media-mobile {
    height: 637px;
  }
}

.gallery__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: center;
  gap: 24px 36px;
  height: 2718px;

  @include media-desktop {
    height: 1505px;
  }

  @include media-tablet {
    gap: 24px;
    height: 1392px;
  }

  @include media-mobile {
    height: 784px;
  }
}

.gallery__img {
  display: block;
  max-width: 456px;
  width: 100%;
  height: auto;

  object-fit: contain;

  @include media-desktop {
    max-width: 304px;
  }

  @include media-tablet {
    max-width: 352px;
  }

  @include media-mobile {
    max-width: 178px;
  }
}

.gallery__item {
  max-width: 456px;
  width: calc(33.3% - 24px);
  height: auto;

  @include media-desktop {
    max-width: 304px;
  }

  @include media-tablet {
    max-width: 352px;
      width: calc(50% - 12px);
    }

  @include media-mobile {
    max-width: 178px;
  }
}
