.nav__list {
  @include list-reset;

  display: flex;
  // max-width: 720px;
  flex-wrap: wrap;
  gap: 55px;
  justify-content: flex-end;
  cursor: pointer;
}

.nav__link:hover {
  color: $color-accent;
}

.nav__link:active {
  color: $color-active;
}
