.video {
   padding-top: 75px;
  padding-bottom: 75px;
}

.video__title-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 115px;
  margin-bottom: 75px;
}

.video__text {
max-width: 720px;
}

.video__video {
  display: block;
  width: 100%;
  height: 650px;
}

.video__control-panel {
  padding: 25px 30px;
  display: flex;
  gap: 50px;
  align-items: center;
margin-bottom: 40px;
  background-color: $color-bg-dark;
}

.video__slider {
  overflow-x: hidden;
}

.video__list {
  @include list-reset;
  display: flex;
  gap: 42px;
    margin-bottom: 40px
}

.video__item {
  box-sizing: border-box;
    width: 452px;
  min-height: 254px;
  background-color: aquamarine;
  flex-shrink: 0;
  flex-grow: 0;
}

.video__information {
  width: 100%;
  display: flex;
  gap: 10px;
  // justify-content: space-between;
}

.video__information-img {
display: block;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: antiquewhite;
}

.video__information-btn {
display: block;
// margin-right: auto;
}

.video__information-text {
  flex-grow: 1;
}

.video__slider-video {
   display: block;
width: 100%;
}

.video__pagination {
  display: flex;
  // margin: 0 auto;
  justify-content: center;
  gap: 20px;
}
