.visiting {
  padding-top: 75px;
  padding-bottom: 75px;

  @include media-desktop {
    padding-top: 60px;
    padding-bottom: 61px;
  }

  @include media-tablet {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  @include media-mobile {
    padding-bottom: 42px;
  }
}

.visiting__list {
  @include list-reset;
  display: flex;
  gap: 76px 60px;
  flex-wrap: wrap;

  @include media-desktop {
    padding-left: 108px;
    padding-right: 108px;
    gap: 61px 108px;
  }

  @include media-tablet {
    gap: 42px 56px;
    padding-left: 56px;
    padding-right: 56px;
  }

  @include media-mobile {
    gap: 42px 56px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.visiting__title {
  margin-bottom: 75px;

  @include media-desktop {
    margin-bottom: 60px;
  }

  @include media-tablet {
    margin-bottom: 40px;
  }
}

.visiting__card {
  @include list-reset;
}

.visiting__link {
  display: block;
  text-decoration: none;
  color: $color-black;

  // background-color: blue;
}

.visiting__img {
  display: block;
  width: 440px;
  height: 285px;
  margin-bottom: 26px;

  @include media-desktop {
    width: 330px;
    height: 215px;
    margin-bottom: 27px;
  }

  @include media-tablet {
    width: 280px;
    height: 180px;
    margin-bottom: 25px;
  }
}

.visiting__title-card {
  margin-bottom: 12px;

  @include media-desktop {
    margin-bottom: 10px;
  }
}

.visiting__text:not(:last-child) {
  margin-bottom: 14px;

  // @include media-desktop {
  //   margin-bottom: 10px;
  // }
}
