.welcome {
  background-color: $color-bg-dark;
  // background-color: blue;
}

.welcome__container {
  position: relative;
}

.welcome__wrapper-content {
  position: relative;
  width: fit-content;
  padding: 150px 55px 272px 0;
  z-index: 5;

  background-image: linear-gradient(
    to right,
    black,
    40%,
    black,
    85%,
    transparent
  );

  @include media-desktop {
    padding: 50px 20px 192px 0;

    background-image: linear-gradient(
      to right,
      black,
      40%,
      black,
      85%,
      transparent
    );
  }

  @include media-tablet {
    position: static;
    width: 100%;
    padding: 0 0 50px 0;
    background-color: black;
    text-align: center;
  }
}

.welcome__slider {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 240px;

  width: 1000px;

  overflow: hidden;
  padding-bottom: 60px;

  @include media-desktop {
    right: 20px;
    width: 700px;
  }

  @include media-tablet {
    position: static;
    padding-bottom: 100px;
    width: 728px;
  }

  @include media-mobile {
    padding-bottom: 80px;
    width: 380px;
  }
}

.welcome__list {
  @include list-reset;
  display: flex;
}

.welcome__item {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.welcome__img {
  display: block;
  object-fit: contain;
  width: 1000px;
  height: 750px;

  @include media-desktop {
    width: 700px;
    height: 525px;
  }

  @include media-tablet {
    width: 728px;
    height: 546px;
  }

  @include media-mobile {
    width: 380px;
    height: 285px;
  }
}

.welcome__slider-title {
  margin-bottom: 27px;

  @include media-desktop {
    line-height: 90px;
    margin-bottom: 28px;
  }

  @include media-tablet {
    line-height: 60px;
    margin-bottom: 25px;
  }

  @include media-mobile {
    line-height: 40px;
    padding-top: 5px;
  }
}

.welcome__slider-sybtitle {
  margin-bottom: 77px;

  @include media-desktop {
    margin-bottom: 50px;
  }

  @include media-tablet {
    margin-bottom: 0;
  }
}

.welcome .welcome__button {
  box-sizing: border-box;
  min-height: 75px;
  width: fit-content;

  @include media-desktop {
    min-height: 60px;
  }

  @include media-tablet {
    display: none;
  }
}

.welcome__slider-controller {
  position: absolute;
  right: 0;
  bottom: 0;

  padding: 40px 74px;
  background-color: $color-bg-dark;

  display: flex;
  align-items: center;

  @include media-desktop {
    padding: 40px 75px 40px 224px;
  }

  @include media-tablet {
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    justify-content: center;
  }

  @include media-mobile {
    padding: 20px;
  }
}

.welcome__slider-numbers {
  @include font(
    $size: 22px,
    $line-height: 40px,
    $weight: 400,
    $color: $color-white
  );

  display: flex;
  gap: 10px;
  width: 76px;

  @include media-desktop {
    font-size: 20px;
  }
  @include media-mobile {
    font-size: 16px;
    gap: 5px;
    width: 40px;
    letter-spacing: 0;
  }
}

.welcome__slider-pagination {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-left: 55px;

  @include media-desktop {
    margin-left: 42px;
  }

  @include media-mobile {
    gap: 10px;
    margin-left: 35px;
  }
}

.welcome__slider-bullit.swiper-pagination-bullet-active {
  background-color: $color-point;
}

.welcome__slider-bullit {
  @include btn-reset;
  width: 16px;
  height: 16px;
  background-color: $color-white;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-accent;
  }

  @include media-desktop {
    width: 12px;
    height: 12px;
  }

  @include media-mobile {
    width: 7px;
    height: 7px;
  }
}

.welcome__slider-navigation {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 60px;

  @include media-desktop {
    margin-left: 45px;
  }

  @include media-mobile {
    gap: 15px;
    margin-left: 25px;
  }
}

.welcome__slider-arr {
  @include btn-reset;
  width: 30px;
  height: 8px;

  background-color: $color-white;

  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  mask-image: url("../../icons/arr_left.svg");

  &--right {
    transform: rotate(180deg);
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $color-accent;
  }

  @include media-mobile {
    width: 20px;
  }
}
